.head {
  display: grid;
  justify-items: center;
}
.containerAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 100vh;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
}
.about{
  display: grid;
gap:1.5rem;
}
.abouText{
line-height: 2.5;
}
.imageAbout {
  margin: 12rem;
  height: 18rem;
  width: 18rem;
  border-radius: 200px;
}

.mainAbout {
  position:relative;
  display: inline-block;
  padding-top: 7rem;
  font-size: 3rem;
  justify-content: center;
}


.mainAbout::after {
  content: ""; 
  position: absolute; 
  bottom: 0; 
  left: 10%; 
  width: 80%;
  height: 1px; 
  background-color: #b2ab2e; 
  transition: all 0.3s ease; 
}

.mainAbout:hover::after {
  left: 0;
  width: 100%; 
}

.icon {
  color: #b2ab2e;
  font-size: 3rem;
}
.iconContainer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-top: 1.5rem;
}

@media screen and (max-width: 600px) {
  .mainAbout {
    padding-top: 2rem;
    font-size: 2.5rem;
  }
  .about {
    display: grid;
    height: 50%;
  }
  .containerAbout{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    left:10%;
    gap:0rem;
    
    
  }
  .imageAbout {
    display: block;
    margin: 4rem 0rem;
    height: 8rem;
    width: 8rem;
    border-radius: 200px;
  }

  .about {
    width: 90%;
  }
  .imgContainer1 {
    position: relative;
  }
  }