/*header & title*/
.head {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 7rem;
  min-height: 100dvh;
  padding-bottom: 3rem;
}

.mainAbout {
  position: relative;
  display: inline-block;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-top: 7rem;
  font-size: 3rem;
  justify-content: center;
}

.mainAbout::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: var(--letters);
  transition: all 0.3s ease;
}

.mainAbout:hover::after {
  left: 0;
  width: 100%;
}


.containerAbout {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  min-height: 70vh;
  margin: auto;
}

.imgContainer1,
.about {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Image*/

.imgContainer1 {
  max-width: 50%;
  height: 100%;
}

.imageAbout {
  border: 1.5px solid var(--effects);
  object-fit: cover;
  border-radius: 130px;
  width: 20rem;
  height: 20rem;
  box-shadow: 0px 0px 15px #0009;
}

/*About section*/

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.about>h2 {
  font-size: 2.5rem;
  margin: .8rem 0rem;
  padding-bottom: 0;
}

.about>span {
  font-size: 2rem;
}

.abouText {
  width: 75%;
  line-height: 1.5;
  text-wrap: pretty;
  margin: .8rem 0rem;
  white-space: normal;
}

/*Icons section*/
.icon {
  color: var(--letters);
  font-size: 3rem;
}

.iconContainer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: .8rem 0rem;
}

@media screen and (max-width: 750px) {
  .head {
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
  }

  .mainAbout {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 2.5rem;
  }

  .containerAbout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .imageAbout {
    display: block;
    margin: 4rem 0rem;
    height: 13rem;
    width: 13rem;
    border-radius: 200px;
  }

  .about {
    height: 0%;
    width: 100%;
  }

  .imgContainer1 {
    position: relative;
  }

  .abouText {
    line-height: 1.9;
  }
}