.headContact {
  display: grid;
  justify-items: center;
}
.containerContact {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 100vh;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
}
.about {
  display: grid;
  width: 500%;
}
.img {
  margin: 12rem;
  display: flex;
  height: 18rem;
  width: 18rem;
  border-radius: 200px;
}

.mainContact {
  position: relative;
  display: inline-block;
  padding-top: 7rem;
  font-size: 3rem;
  justify-content: center;
}

.mainContact::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: #b2ab2e;
  transition: all 0.3s ease;
}

.mainContact:hover::after {
  left: 0;
  width: 100%;
}

.data {
  display: grid;
  text-align: left;
  padding-left: 10rem;
}

.form {
  display: grid;
  gap: 1.5rem;
  justify-items: center;
}
::placeholder {
  color: black;
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
}

input {
  font-weight: bolder;
  color: black;
  border-radius: 10px;
  width: 13rem;
  padding: 0.8rem;
  background-color: bisque;
  border: black 1px solid;
}
.dataInput {
  display: flex;
  gap: 1rem;
}
.textArea {
  width: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
  resize: none;
  font-weight: bolder;
  color: black;
  border-radius: 10px;
  background-color: bisque;
  padding: 1rem 0.5rem;
  width: 27rem;
  border: black 1px solid;
}
.button {
  font-weight: bolder;
  font-size: 1.2rem;
  color: black;
  border-radius: 10px;
  background-color: #b2ab2e;
  padding: 0.8rem;
  width: 27rem;
  border: black 1px solid;
  font-family: "Courier New", Courier;
  cursor: grab;
  transition: transform 0.3s ease 0s;
}
.button:hover {
  background-color: #afa820;
  transform: translateY(-10px);
}
@media screen and (max-width: 800px) {
  .headContact {
    width: 100%;
  }
  .mainContact {
    padding-top: 2rem;
    font-size: 2.5rem;
  }
  .containerContact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .data {
    margin-top: 1rem;
    justify-items: center;
    padding-left: 0rem;
  }
  .dataInput {
    display: grid;
    width: 16rem;
    justify-items: center;
  }
  .textArea {
    box-sizing: border-box;

    width: 15rem;
  }
  input {
   
    width: 15rem;
  }
  .button {
    box-sizing: border-box;

    width: 15rem;
  }
  .form {
    gap: 0.5rem;
  }
}
