.headContact {
  position: relative;
  display: flex;
  justify-items: center;
  gap: 7rem;
  flex-direction: column;
  min-height: 100dvh;
  padding-bottom: 3rem;
}

.mainContact {
  position: relative;
  display: inline-block;
  margin-top: 7rem;
  font-size: 3rem;
  justify-content: center;
}

.mainContact::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: var(--letters);
  transition: all 0.3s ease;
}

.mainContact:hover::after {
  left: 0;
  width: 100%;
}

.containerContact {
  display: grid;
  min-height: 40vh;

  align-content: center;
  gap: 3rem;
  min-width: 40dvw;
  max-width: 100%;
  grid-template-columns: repeat(2, 1fr);
}


.data {
  display: grid;
  justify-content: center;
  text-align: left;

}

.form {
  display: grid;
  justify-content: space-around;
  gap: 2rem;
  justify-content: center;
  max-width: 600px;

}

::placeholder {
  color: var(--wine-colored);
  font-weight: 800;
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
}

input {
  font-weight: bolder;
  color: black;
  border-radius: 10px;
  width: 100%;
  padding: 0.8rem;
  background-color: bisque;
  border: none;
}

input:focus {
  box-shadow: 0 0 0 3px #0005;
  outline: none;
}

.dataInput {
  display: flex;
  gap: 1rem;
}

.textArea {
  width: 100%;
  overflow-y: hidden;
  resize: none;
  font-weight: bolder;
  color: black;
  border-radius: 10px;
  background-color: bisque;
  padding: 1rem 0.5rem;
  font-family: inherit;
  border: none;
}

.textArea:focus {
  outline: none;
}

.button {
  font-weight: bolder;
  font-size: 1.2rem;
  color: var(--wine-colored);
  font-weight: 800;
  letter-spacing: .1rem;
  border-radius: 10px;
  background-color: var(--letters_opacity);
  padding: 0.8rem;
  border: none;
  font-family: "Courier New", Courier;
  cursor: grab;
  transition: transform 0.3s ease 0s;
}

.button:hover {
  background-color: var(--letters);
  transform: translateY(-3px);
  box-shadow: 0px 0px 2px var(--effects);
}

@media screen and (max-width: 700px) {
  .headContact {
    width: 100%;
    margin-top: 2rem;
  }

  .mainContact {
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .containerContact {
    min-width: 40vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 5%;
    width:clamp( 230px,100%,400px);
  }

  .data {
    justify-content: center;
    justify-items: center;
  }

  .dataInput {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .button {
    flex: 1 1 0;
  }

}