.head {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 2rem;
}
.head>a{
  text-decoration: none;
  color:aliceblue;
  font-size: 2rem;
}
.head>a:hover{
  color:#82ff04;
  box-shadow: 1px 1px 30px #82ff04;
}
.containerHome{
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  gap: 10rem;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  
}

.greeting {
  text-align: center;
  font-size: 4rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.subtitle {
  font-size: 1.7rem;
}

.mainTitle {
  font-size: 2.5rem;
}

h6 {
  writing-mode: vertical-lr;
}

@media screen and (max-width: 900px) {
  .head {
    height: 100vh;
  
  }

  .containerHome{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0rem;
    justify-content:center;



    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 3%;
  }

  h6 {
    display: none;
  }
}











