.head {
    display: flex;
    flex-direction: row;
justify-content: space-between;
 
  background-color: gray;
  padding: 1rem;
  border: solid 1px black;
  
}
 
/* .name{

} */

.links{
    display: flex;

}