.containerPortfolio {
  display: flex;
  padding-top: 8%;
  justify-content: center;
  gap: 3rem;
  height: 60vh;
  width: 80%;
}

.headPortfolio {
  display: grid;
  justify-items: center;
}
.mainPortfolio {
  position: relative;
  display: inline-block;
  padding-top: 7rem;
  font-size: 3rem;
  justify-content: center;
}

.mainPortfolio::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: #b2ab2e;
  transition: all 0.3s ease;
}

.mainPortfolio:hover::after {
  left: 0;
  width: 100%;
}

.imgPortfolio {
  display: flex;
  justify-items: center;
  margin-right: 4rem;
  height: 14rem;
  width: 24rem;
  border-radius: 10px;
}
.imgContainer {
  position: relative;
  display: inline-block;
}

.imgTitle {
  position: absolute;
  top: 12%;
  left: 43%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  height: 15rem;
  width: 23rem;
  align-items: center;
  color: #b2ab2e;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  backdrop-filter: blur(10px);
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  line-height: 4rem;
  font-display: 1px;
}
.imgContainer:hover .imgTitle {
  opacity: 1;
  border-radius: 10px;
  transition: 1s;
}
@media screen and (max-width: 600px) {
  .headPortfolio{display:none}
    .containerPortfolio {
   
    padding-top: 3%;
    justify-content: center;
    gap: .5rem;
    height: 60vh;
    width: 80%;
  }
  .imgContainer {
    position: relative;
    display: inline-block;
 
}
.imgPortfolio{
    margin-right: 0rem;
}
}
