.headPortfolio {
  display: grid;
  justify-items: center;
  min-height: 100vh;
  padding-bottom: 3rem;
}

.mainPortfolio {
  position: relative;
  display: inline-block;
  padding-top: 7rem;
  margin-bottom: 4rem;
  font-size: 3rem;
  justify-content: center;
}

.containerPortfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 0 1rem;
}

.mainPortfolio::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: var(--letters);
}

.mainPortfolio:hover::after {
  left: 0;
  width: 100%;
}

.imgPortfolio {
  height: 15rem;
  border-radius: 10px;
  width: 20rem;
}

.imgContainer {
  position: relative;
  display: inline-block;
}

.imgTitle {
  position: absolute;
  top: 49%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  height: 15rem;
  width: 20rem;
  color: var(--letters);
  padding: 1.5rem 5px;
  align-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  backdrop-filter: blur(10px);
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  line-height: 3rem;
  font-display: 1px;
}

.imgContainer:hover .imgTitle {
  opacity: 1;
  border-radius: 10px;
  transition: 1s;
}

@media screen and (max-width: 600px) {
  .mainPortfolio {
    font-size: 2.5rem;
    /* margin-bottom: 1rem; */

  }

  .containerPortfolio {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .imgContainer {
    position: relative;
    display: inline-block;
    width: 20rem;
    height: 15rem;
  }

  .imgPortfolio {
    padding-top: 0rem;
    justify-content: center;
    height: 15rem;
    width: 20rem;
    border-radius: 10px;
  }

  .imgTitle {
    height: 15rem;
    width: 20rem;
    line-height: 3rem;
  }
}