.headSkills {
  position: relative;
  display: flex;
  justify-items: center;
  gap: 7rem;
  flex-direction: column;
  min-height: 100dvh;
  padding-bottom: 3rem;
}

.main1 {
  position: relative;
  display: inline-block;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-top: 7rem;
  font-size: 3rem;
  justify-content: center;
}

.main1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: var(--letters);
  transition: all 0.3s ease;
}

.main1:hover::after {
  left: 0;
  width: 100%;
}

.containerSkills {
  min-height: 50vh;
  display: flex;

  align-items: center;
}
.sectionSkills{
      flex:1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
}
.skills {
  display: flex;
  flex-direction: row;
      flex:1;
  padding: 3rem;
  gap: 1rem;
  flex-wrap: wrap;
  width: 45dvw;
  justify-content: center;
}

.skills>ul:hover {
  color: var(--wine-colored);
  background-color: var(--letters);
}

.imageContainer {
  width: 100%;
  flex:1;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  width: auto;
  height: auto;
  border-radius: 10px;
}

.develop {
  display: flex;
  font-size: 2rem;
  justify-content: center;
}


.skills>ul {
  display: inline;
  padding: 8px;
  border: solid 1px var(--letters);
  border-radius: 2px;
}

@media screen and (max-width: 800px) {
  .headSkills {
    margin-top: 5rem;
  }

  .main1 {
    font-size: 2.5rem;
  }

  .containerSkills {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .skills {
    width: 100%;
  }

  .develop {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .imageContainer {
    aspect-ratio: 0;
    justify-content: space-evenly;
  }

  .image {
    margin: 0rem;
    overflow: hidden;
  }
}