.headSkills {
  display: grid;
  justify-items: center;
}
.containerSkills {
  display: grid;
  align-items: center;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
}
.skills {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  gap: 1rem;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}
ul:hover{
  color:#471f1f;
  background-color: #b2ab2e;
}
.image {
  margin: 12rem;
  display: block;
  height: 18rem;
  width: 28rem;
  border-radius: 20px;
}
.develop {
  display: flex;
  font-size: 2rem;
  justify-content: center;
}

.main1 {
  position: relative;
  display: inline-block;
  padding-top: 7rem;
  font-size: 3rem;
  justify-content: center;
}

.main1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: #b2ab2e;
  transition: all 0.3s ease;
}

.main1:hover::after {
  left: 0;
  width: 100%;
}

ul {
  display: inline;
  margin: 4px;
  padding: 5px;
  border: solid 1px grey;
  border-radius: 90px;
}

@media screen and (max-width: 600px) {
  .main1 {
    padding-top: 2rem;
    font-size: 2.5rem;
  }
  .containerSkills {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .skills {
    width: 80%;
    padding: 2rem;
  }
  .develop {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .image {
    margin: 0rem;
    height: 10rem;
    width: 14rem;
    border-radius: 20px;
  }
}

/*.head {
  display: grid;
  justify-items: center;
  height: 100vh;
}

.main1 {
  padding-top: 3rem;
  font-size: 3rem;
  text-transform: capitalize;
  border-bottom: 1px solid #b2ab2e;
  justify-content: center;
  border-color: aqua solid normal;
}

.container {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 3rem;
 
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
}

.image {
  display: block;
  size-adjust: inherit;
}
*/
