.body {
  text-align: center;
  background: linear-gradient(#180c0c, #471f1f);
  color: #b2ab2e;
  justify-items: center;
  align-items: center;
}
section {
  border-bottom: 1px solid white;
}

.section {
  background-color: brown;
  border: 1px solid yellow;
  margin: 0;
}
