/*===== GOOGLE FONTS =====*/

body {

  font-family: "Montserrat", sans-serif, "Unbounded", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0px;

}
html {
  scroll-behavior: smooth;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
